$color__pink: #f092cd;
$color__light-pink: #f1d5e2;
$color__accent-pink: #e9bed2;
$color__bright-pink: #fadef0;
$color__dark-pink: #b81e68;
$color__light-blue: #ddeff8;
$color__blue: #b2d7ee;
$color__accent-blue:  #8fcae7;
$color__dark-blue: #007bc7;

$query__small: 768px;
$query__medium: 992px;
$query__wide: 1100px;
